<form action="/artisanregister" method="post" enctype="multipart/form-data">
  <input type="text" name="firstName" id="" placeholder="First Name" />
  <input type="text" name="lastName" id="" placeholder="Last Name" />
  <input type="number" name="phone" id="" placeholder="+234 020575445" />
  <input type="text" name="username" id="" placeholder="Email" />
  <input type="text" name="job" id="" placeholder="job" />
  <input type="file" name="picture" id="" />
  <input type="password" name="password" id="" placeholder="password" />
  <button type="submit">REGISTER</button>
</form>
