<a href="/artisanlogin"><button>ARTISAN LOGIN</button></a>
<a href="/userlogin"><button>USER LOGIN</button></a>
<a href="/artisanregister"><button>BECOME AN ARTISAN</button></a>
<a href="/userregister"><button>HIRE AN ARTISAN</button></a>
