<form action="/userregister" method="post">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="email" name="username" placeholder="Email">
  <input type="number" name="number" id="" placeholder="number">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Register">
</form>